/* ComicDetail.module.css */

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9); /* Comienza un poco más pequeño */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Tamaño normal */
    }
}

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background-color: #1e2228;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: fadeInScale 0.3s ease-out; /* Aplica la animación al abrir */
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    color: #ffa516;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.closeButton:hover {
    transform: translateY(-3px);
}

.comicImage {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}
